@import url('http://assets.okfn.org/themes/okfn/okf-panel.css?2');

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,300italic,300);

@import url(http://fonts.googleapis.com/css?family=Architects+Daughter);

@import url(http://fonts.googleapis.com/css?family=Amatic+SC:400,700);
/*
OKF Labs Styles
*/
a,
.btn-link {
  color: #22998b;
}
a:hover,
.btn-link:hover {
  color: #22998b;
}
h1,
h2,
h3,
h4,
h5,
h6,
.navbar .brand,
.navbar .nav,
#claim,
.teaser {
  font-family: 'Open Sans', Gotham, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
}
h1 strong,
h2 strong,
h3 strong,
h4 strong,
h5 strong,
h6 strong,
#claim strong {
  font-weight: 400;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 15px 0 5px 0;
}
h1 {
  font-size: 27px;
  line-height: 33px;
  margin-bottom: 10px;
}
h2 {
  font-size: 25px;
  line-height: 31px;
}
h3 {
  font-size: 21px;
  line-height: 24px;
}
h4 {
  font-size: 16px;
  line-height: 19px;
}
li {
  line-height: 24px;
}
.btn-primary {
  background-color: #22998b;
  background-image: -moz-linear-gradient(top, #22998b, #196f65);
  background-image: -ms-linear-gradient(top, #22998b, #196f65);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#22998b), to(#196f65));
  background-image: -webkit-linear-gradient(top, #22998b, #196f65);
  background-image: -o-linear-gradient(top, #22998b, #196f65);
  background-image: linear-gradient(top, #22998b, #196f65);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@okf', endColorstr='darken(@okf, 10%)', GradientType=0);
  border-color: #0f463f;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  background-color: #196f65;
}
.btn-info {
  background-color: #8b8a8a;
  background-image: -moz-linear-gradient(top, #8b8a8a, #717171);
  background-image: -ms-linear-gradient(top, #8b8a8a, #717171);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#8b8a8a), to(#717171));
  background-image: -webkit-linear-gradient(top, #8b8a8a, #717171);
  background-image: -o-linear-gradient(top, #8b8a8a, #717171);
  background-image: linear-gradient(top, #8b8a8a, #717171);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@grey', endColorstr='darken(@grey, 10%)', GradientType=0);
  border-color: #585757;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-info:hover,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
  background-color: #717171;
}
.btn-success {
  background-color: #39ca23;
  background-image: -moz-linear-gradient(top, #39ca23, #2d9f1b);
  background-image: -ms-linear-gradient(top, #39ca23, #2d9f1b);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#39ca23), to(#2d9f1b));
  background-image: -webkit-linear-gradient(top, #39ca23, #2d9f1b);
  background-image: -o-linear-gradient(top, #39ca23, #2d9f1b);
  background-image: linear-gradient(top, #39ca23, #2d9f1b);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@green', endColorstr='darken(@green, 10%)', GradientType=0);
  border-color: #207314;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #2d9f1b;
}
.btn-warning {
  background-color: #f5ad2a;
  background-image: -moz-linear-gradient(top, #f5ad2a, #e1950b);
  background-image: -ms-linear-gradient(top, #f5ad2a, #e1950b);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5ad2a), to(#e1950b));
  background-image: -webkit-linear-gradient(top, #f5ad2a, #e1950b);
  background-image: -o-linear-gradient(top, #f5ad2a, #e1950b);
  background-image: linear-gradient(top, #f5ad2a, #e1950b);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@yellow', endColorstr='darken(@yellow, 10%)', GradientType=0);
  border-color: #b17508;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-warning:hover,
.btn-warning:active,
.btn-warning.active,
.btn-warning.disabled,
.btn-warning[disabled] {
  background-color: #e1950b;
}
.btn-danger {
  background-color: #ee2937;
  background-image: -moz-linear-gradient(top, #ee2937, #d3111f);
  background-image: -ms-linear-gradient(top, #ee2937, #d3111f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee2937), to(#d3111f));
  background-image: -webkit-linear-gradient(top, #ee2937, #d3111f);
  background-image: -o-linear-gradient(top, #ee2937, #d3111f);
  background-image: linear-gradient(top, #ee2937, #d3111f);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@red', endColorstr='darken(@red, 10%)', GradientType=0);
  border-color: #a40d18;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-danger:hover,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
  background-color: #d3111f;
}
.btn-inverse {
  background-color: #333333;
  background-image: -moz-linear-gradient(top, #333333, #1a1a1a);
  background-image: -ms-linear-gradient(top, #333333, #1a1a1a);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#1a1a1a));
  background-image: -webkit-linear-gradient(top, #333333, #1a1a1a);
  background-image: -o-linear-gradient(top, #333333, #1a1a1a);
  background-image: linear-gradient(top, #333333, #1a1a1a);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@darkgrey', endColorstr='darken(@darkgrey, 10%)', GradientType=0);
  border-color: #000000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-inverse:hover,
.btn-inverse:active,
.btn-inverse.active,
.btn-inverse.disabled,
.btn-inverse[disabled] {
  background-color: #1a1a1a;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(34, 153, 139, 0.8);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(34, 153, 139, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(34, 153, 139, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(34, 153, 139, 0.6);
}
.well {
  background-color: #ffffff;
  background-color: rgba(255, 255, 255, 0.5);
}
code,
pre code {
  color: #145a52;
}
hr {
  border-top: 1px solid #d2d2d2;
}
ul {
  list-style-type: square;
}
ul.posts {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.teaser {
  font-size: 1.2em;
  line-height: 1.7em;
}
.minipic-wrapper {
  overflow: hidden;
  width: 120px;
  display: block;
  float: left;
  margin-right: 10px;
}
img.minipic {
  padding-right: 120px;
  margin-left: -120px;
  width: 120px;
  height: 120px;
  background-repeat: no-repeat;
  background-position: right top;
}
body {
  background-color: #f5f5f5;
  background-image: url(../../img/grid.png);
  background-repeat: repeat-x;
  background-position: center top;
  font-weight: 300;
  line-height: 24px;
}
/**** Navbar ****/
.navbar .container {
   max-width: 940px;
}
.navbar-inner,
.navbar-fixed-top .navbar-inner,
.navbar-static-top .navbar-inner {
  background: none;
  border: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  padding: 0;
}
.navbar .nav {
  margin: 15px 0 0 0;
}
.navbar .nav.pull-right {
  margin-right: 50px;
}
.navbar .nav li {
  display: block;
  float: left;
}
.navbar .nav li a {
  color: #333333;
  text-shadow: 0px 1px 0px #ffffff;
  font-size: 18px;
  display: block;
  padding: 10px;
}
.navbar .nav li a:hover {
  text-decoration: none;
  text-shadow: none;
  background-color: #cccccc;
  background-color: rgba(204, 204, 204, 0.2);
}
.body-join .navbar .nav-join,
.body-blog .nav-blog,
.body-data .nav-data,
.body-code .nav-code,
.body-events .nav-events,
.body-members .nav-members,
.body-about .nav-about,
.body-contact .nav-contact {
  color: #22998b !important;
}
.okfn-ribbon a {
  background-position: center -26px;
  height: 74px;
}
.page-header {
  margin: 0 0 30px 0;
  padding: 0;
  border: none;
}
#claim {
  font-size: 40px;
  line-height: 52px;
  text-shadow: 0px 1px 0px #ffffff;
  padding-top: 20px;
  padding-bottom: 10px;
}
#claim a {
  font-weight: 400;
}
#claim a.tools {
  color: #333333;
}
#claim.robot {
  font-family: 'Amatic SC', 'Open Sans', Gotham, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 52px;
  line-height: 50px;
}
.content hr.after-heading {
  visibility: hidden;
}
.home .blog-header {
  text-align: right;
}
.home .blog-header .socialism {
  float: right;
  padding-left: 10px;
}
.blog-header .socialism > a {
  display: none;
}
.home .blog-header .socialism .feed {
  display: block;
}
.blog-header .socialism .feed {
  background-image: url(../../img/blog_feed_2.png);
  background-repeat: no-repeat;
  background-position: left center;
}
.blog-header .socialism .feed img {
  visibility: hidden;
}
.home .blog-header h1 {
  font-family: 'Architects Daughter', 'Brush Script MT', cursive;
  font-weight: 400;
  font-size: 13px;
  color: #333333;
  color: rgba(51, 51, 51, 0.6);
  margin-top: 0;
  margin-bottom: 5px;
  padding-left: 13px;
  /*background-image: url(../../img/arrow.png);*/

  background-repeat: no-repeat;
  background-position: left bottom;
}
.sidebar input {
  width: 64%;
  margin-right: 10px;
}
.sidebar.home {
  margin-top: 30px;
}
/* Posts */
.posts > li .details {
  position: relative;
}
.posts > li .details h2 {
  margin-top: 0;
  margin-bottom: 40px;
}
.posts > li .details .meta {
  position: absolute;
  bottom: -30px;
  width: 100%;
}
/* Blog */
.blog.posts {
  margin: 0;
}
.boxed,
.blog.posts > li {
  padding: 20px 25px;
  background-color: #ffffff;
  background-color: rgba(255, 255, 255, 0.5);
}
.blog.posts > li {
  display: block;
  margin-right: 21px;
  margin-bottom: 20px;
}
.blog.posts > li div.more {
  display: none;
}
.blog.posts > li .details .meta .author {
  font-weight: normal;
}
.blog.posts > li .details .meta .date {
  color: #999;
  float: right;
}
.blog.posts > li .snapshot {
  text-align: center;
  margin-bottom: 10px;
}
/* Events */
.event li {
  margin-bottom: 20px;
}
.event.snapshot {
  -webkit-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
  border: solid 4px #FFFFFF;
}

/* Projects List */
form#filters {
    z-index: 5;
    position: relative;
}

.projects {
  margin-top: -50px;
}

.projects .record {
  padding: 25px;
  padding-left: 0px;
  padding-right: 50px;
  margin-top: 25px;
  width: 25%;
}
.record h2 {
  margin-top: 0;
  line-height: 25px;
}
.record.expand {
  height: 160px;
  overflow: hidden;
  border-bottom: 1px solid #ccc;
}
.record.expand:hover {
  position: absolute;
  height: auto;
  width: auto;
  max-width: 50%;
  /*max-height: 300px;*/
  overflow: auto;
  z-index: 10;
  background: white;
  border-radius: 10px;
  border: 1px solid #ccc;
  box-shadow: gray 5px 3px 10px;
  padding: 24px;
}

ul.filters {
  list-style: none;
  border-bottom: 1px solid #ccc;
  margin: 10px 0 0;
  padding: 0 10px;
}
.filters li {
  display: inline-block;
  border-radius: 8px 8px 0 0;
  padding: 5px 10px;
  background: #22998b;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}
.filters li:hover {
  background: #5a7;
}
.filters li select { display: none; }
.filters li.active select {
  display: block;
  position: absolute;
  margin-top: 5px;
  margin-left: -30px;
  z-index: 100;
}
.filters li.active {
  background: #fff;
  color: #333;
  padding-left: 25px;
  background-image: url(../../img/checkmark.png);
  background-repeat: no-repeat;
  background-position: 5px center;
  background-size: 15px 15px;
}

.projects .author {
  color: #999;
  font-size: 15px;
  line-height: 20px;
  margin-top: 3px;
}

.projects .description {
  margin-top: 5px;
}

/* Individual project page */
.body-project .record .image img {
  max-height: 450px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.body-project .meta {
  margin-left: 0;
  list-style-type: none;
}

/* Members list of projects */
.body-members .project-list .record {
  clear: both;
  padding-top: 25px;
}

.body-members .project-list .image {
  margin-left: 30px;
  float: right;
  max-width: 50%;
}


/* About page */
.chaos.minipic {
  background-image: url(../../img/chaos-black.png);
}
ul.persons {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.body-members .photo, ul.persons .photo {
  float: left;
  margin-right: 1em;
  max-height: 120px;
  max-width: 120px;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}
ul.persons li.odd .photo {
  margin-left: 1em;
  margin-right: 0;
  float: right;
  max-height: 120px;
  max-width: 120px;
}
ul.persons .name {
  font-weight: bolder;
}
ul.persons .area {
  color: #999;
}
ul.persons li.person {
  margin-bottom: 2em;
  margin-top: 1em;
}
ul.persons ul.links {
  list-style-type: none;
  margin: 0;
}
ul.persons ul.links li {
  margin-right: 1em;
  display: inline-block;
}
.joined {
  margin-bottom: 0;
  color: #999;
}
.joined .date {
  color: #333;
}

/**** Join *****/
.body-join .well h3 {
  margin-top: 0;
}
ul.links {
  list-style-type: none;
  margin: 0;
}
ul.links li {
  margin-right: 1em;
  display: inline-block;
}
blockquote {
  font-style: italic;
  background-color: #ddd;
  border-left: 10px solid #ccc;
  padding: 10px;
}
blockquote p {
  font-size: 14px;
}
footer {
  margin-top: 2em;
  padding-bottom: 2em;
  padding-top: 2em;
}
footer .text-right {
  text-align: right;
}
footer .text-right .okf-logo {
  float: right;
}
footer .okf-logo {
  background-image: url(http://assets.okfn.org/images/logo/okfn-logo-landscape-black.png);
  background-repeat: no-repeat;
  width: 150px;
  height: 39px;
  background-size: 100% auto;
  display: block;
}
footer .okf-logo img {
  visibility: hidden;
}
footer ul.flatmenu {
  list-style-type: none;
  margin: 1em 0 0;
}
footer ul.flatmenu li {
  display: inline-block;
  margin-right: 1.5em;
}
footer .text-right ul.flatmenu li {
  margin-left: 1.5em;
  margin-right: 0;
}
footer .projects {
  margin-top: 10px;
}
footer .projects img {
  height: 25px;
  margin-left: 5px;
  margin-right: 5px;
}

@media (min-width: 980px) {
  #claim.robot {
    position: relative;
    padding-left: 210px;
    padding-top: 28px;
    padding-bottom: 0px;
  }
  #claim.robot:before {
    content: url('../images/robot.png');
    position: absolute;
    top: -10px;
    left: -10px;
  }
}
@media (max-width: 767px) {
  .posts > li .details .meta {
    position: static;
  }
  .posts > li .details h2 {
    margin-bottom: 0;
  }
  #claim,
  .sidebar {
    padding-left: 20px;
    padding-right: 20px;
  }
  #claim {
    font-size: 30px;
    line-height: 42px;
  }
  .post-top img {
      margin-top: 1em;
  }
}

/**** Posts *****/

.post h1 {
  margin-top: 0;
}

.post-top {
    margin-bottom: 1em;
}

.post-top > a {
    display: block;
    float: left;
    max-width: 15%;
    margin-right: 1em;
}

.post-top img {
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}

.post-top, .post-top > div {
    overflow: hidden;
}

.post-meta {
  font-size: 95%;
  color: #aaa9a9;
  font-style: italic;
  margin-bottom: 15px;
}

.post-meta .post-date, .post-meta .post-author {
  font-style: normal;
  color: #333;
}

.post .sidebar a div.croppedimg {
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 100px;
    background-size: 100%;
}

.post .sidebar .about img {
  width: 90px;
  margin-right: 10px;
  float: left;
}

.post .sidebar .about {
  font-family: 'Amatic SC', 'Open Sans', Gotham, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 32px;
  line-height: 36px;
}

.post .sidebar ul.related {
  list-style-type: none;
  margin-left: 0;
}

.post .sidebar .related .post-meta {
  margin-bottom: 0;
}

.caption {
  font-size: 95%;
  text-align: center;
}

/* /search page - Google Custom search */
input.gsc-input,
input.gsc-input:focus {
  border: none;
  border-radius: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
  line-height: 16px;
  border-color: none;
}
td.gsib_a {
  padding-top: 0;
  line-height: 16px;
  border: none;
}
div.gsc-thumbnail-inside {
  padding-left: 0;
}
div.gsc-url-top {
  padding-left: 0;
}

.thecount {
  width: 100%;
  max-width: 640px;
  height: 100%;
  height: 480px;
  position: fixed;
  bottom: -5px;
  left: 0%;
  margin: 0;
  background-image: url('/img/countvoncount.png');
  background-position: bottom center;
  background-size: contain;
  background-repeat: no-repeat;
  animation: theCountAnimation ease-in 1s;
  animation-iteration-count: 1;
  transform-origin: 50% 100%;
  -webkit-animation: theCountAnimation ease-in 1s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: theCountAnimation ease-in 1s;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 50% 50%;
  -o-animation: theCountAnimation ease-in 1s;
  -o-animation-iteration-count: 1;
  -o-transform-origin: 50% 50%;
  -ms-animation: theCountAnimation ease-in 1s;
  -ms-animation-iteration-count: 1;
  -ms-transform-origin: 50% 50%;
}

.thecount-sign {
  background-color: #fff;
  width: 20%;
  padding: 1% 2%;
  margin: 0;
  border:1px solid #333;
  font-size: 100%;
  line-height: 100%;
  text-align: center;
  position: absolute;
  bottom: 18%;
  right: 1%;
  transform: rotate(-4deg);
}

@media (min-width: 640px) {
  .thecount-sign {
    bottom: 176px;
  }
}

@keyframes theCountAnimation{
  0% {
    transform:  translate(0px,485px)  rotate(60deg) ;
  }
  100% {
    transform:  translate(0px, 0px)  rotate(0deg) ;
  }
}

@-moz-keyframes theCountAnimation{
  0% {
    -moz-transform:  translate(0px,485px)  rotate(60deg) ;
  }
  100% {
    -moz-transform:  translate(0px, 0px)  rotate(0deg) ;
  }
}

@-webkit-keyframes theCountAnimation {
  0% {
    -webkit-transform:  translate(0px,485px)  rotate(60deg) ;
  }
  100% {
    -webkit-transform:  translate(0px, 0px)  rotate(0deg) ;
  }
}

@-o-keyframes theCountAnimation {
  0% {
    -o-transform:  translate(0px,485px)  rotate(60deg) ;
  }
  100% {
    -o-transform:  translate(0px, 0px)  rotate(0deg) ;
  }
}

@-ms-keyframes theCountAnimation {
  0% {
    -ms-transform:  translate(0px,485px)  rotate(60deg) ;
  }
  100% {
    -ms-transform:  translate(0px, 0px)  rotate(0deg) ;
  }
}

#map { height: 300px; }

.badgeholder {
    display: inline-block;
    text-align: center;
    color: #f5f5f5;
}

.badgeholder div:first-child {
    display: inherit;
    vertical-align: middle;
    background: url('/img/badge.png');
    background-size: 50px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 25px;
}

.body-join .badgeholder div:last-child {
    display: inherit !important;
}

.badgeholder div:last-child {
    display: none;
    vertical-align: middle;
    background-color: #292726;
    border-radius: 5px;
    font-weight: bold;
    padding-left: .5em;
    margin-left: -.25em;
    padding-right: .5em;
}

.badges a:hover {
    text-decoration: none;
}
