---
title: Open Knowledge Foundation Labs
layout: default
---

<div class="row">
  <div class="span12">
    <div id="claim" class="robot">
      We make tools and insights using
      <br />
      open data, open content and open code
      <br />
      <a href="/join/">Join us &raquo;</a>
    </div>
  </div>
</div>
<div class="row">
  <div class="span8 home">
    {% include blog_header.html %}
    <ul class="blog posts">
      {% for post in site.categories.blog limit:5 %}
        {% include blog_posts.html %}
      {% endfor %}
      <li><a href="/blog/">All blog posts&hellip;</a></li>
    </ul>


    
  </div>
  <div class="span4 home sidebar">
    <h4>Get involved</h4>
    <p>
      Labs is an open community. Join our mailing list and 
      start contributing.
    </p>
    {% include list_signup.html %}
    <p>If mailing lists are not your thing there are plenty of other ways to <a href="/contact/">get in touch</a>.</p>

    <h4>Twitter</h4>
    {% include tweets.html %}

    <h4>Upcoming Events</h4>
    <ul class="posts">
      {% for post in site.categories.events %}
      {% if post.upcoming %}
      <li>
        <div class="meta">
          <span class="a">{{post.textdate}}</span>
        </div>
        <h5><a class="literacy" href="{{ post.url }}">{{ post.title }}</a>
          <small>{{post.location}}</small>
        </h5>
        <div class="excerpt">
          {{ post.teaser }} 
        </div>
        </li>
      {% endif %}
      {% endfor %}
    </ul>

    <!--div class="boxed">
      Let's run an event together. 
      <a href="/about">Get in touch</a>.
    </div-->

    <a href="http://www.shuttleworthfoundation.org/"><img src="http://assets.okfn.org/images/shuttleworth/shuttleworth%20funded-01.png" alt="Shuttleworth Supported" style="width: 200px;" /></a>
  </div>
</div>
