#content {
  /* No sidebar */
  width: 100%;
}
#content a {
  text-decoration: underline;
}

ul.dropdown-menu {
  min-width: 280px;
}


table.categorylist {
  width: 100%;
}
td.short {
  width: 120px;
  overflow: hidden;
}
td.short a[href=""],
td.short a[href="None"] {
  display: none;
}
td.medium {
  width: 180px;
}

/* By default, nothing appears in each dropdown menu */
.categorylist tr,
.categorylist li {
  display: none;
}
/* Make an exception for li elements which match their ul's class */
.categorylist-open-knowledge-production li.category-open-knowledge-production,
.categorylist-tools-and-infrastructure li.category-tools-and-infrastructure,
.categorylist-partnered li.category-partnered {
  display: block;
}
.categorylist-open-knowledge-production tr.category-open-knowledge-production,
.categorylist-tools-and-infrastructure tr.category-tools-and-infrastructure,
.categorylist-partnered tr.category-partnered {
  display: table-row;
}



