/* @override http://localhost:4000/okfn-labs.css */

html {
  font-size:  62.5%;
  line-height: 1.5em;
}
body {
  background: #e6e6e6 url(images/banner-bg.png) repeat-x center -160px;
} 
body.withbanner {
  background: #e6e6e6 url(images/banner-bg.png) repeat-x center -50px;
}

p, ul, ol, dl, table {
  line-height: 1.5em;
}
a {
  text-decoration: underline;
}

header {
  background: url(images/flask.png) no-repeat center 51px;
  padding-bottom: 70px;
  min-width: 940px;
}

.navbar, header .banner h1, header .banner .strapline {
  text-shadow: #000 1px 1px 2px;
}
.navbar a {
  text-decoration: none;
}

.banner {
  padding-top: 90px;
}
.banner h1 {
  color: #fff;
  font-size: 46px;
  font-weight: normal;
  padding-bottom: 20px;
}
.banner p {
  font-size: 18px;
  font-size: 1.8rem;
}
.banner .strapline {
  color: #eee;
  height: 145px;
}
.banner .instruction {
  color: #666;
  background: url(images/arrow.png) no-repeat 57px 15px;
  margin-left: -14px;
  padding-left: 70px;
  padding-bottom: 20px;
}

.activity-box {
  background: #eee;
  height: 300px;
  overflow: auto;
  margin-top: 7px;
  padding: 5px 0.5em 0.5em 0.5em;
  border: 4px solid #aaa;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.11);
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.11);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.11);
}

.activity-box h2 {
  color: #888;
  text-shadow: 2px 2px 0 rgb(255, 255, 255);
  font-size: 14px;
  font-size: 1.4rem;
  text-transform: uppercase;
}

#airlock {
  margin-top: -50px;
}

.read-more {
  display: block;
  padding-top: 4px;
  text-decoration:none;
  text-align: right;
}
.read-more:after {
  content:' »';
}

.project-table td {
  font-size: 11px;
  line-height: normal;
  vertical-align: top;
  width: 320px;
  padding: 8px;
}
.project-table td .outliner {
  position:relative;
  border: 1px solid #d6d6d6;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  height: 110px;
  background-color:#FFF;
  padding: 10px;
}
.project-table td[rowspan="2"] .outliner {
  height: 258px;
}
.project-table .icon {
  display:block;
  float:left;
  margin: 5px 10px 5px 0;
  overflow:hidden;
  text-align:center;
}
.project-table .icon.right {
  float: right;
  margin-right: 0;
  margin-left: 10px;
}
.project-table .text h2 {
  font-size:12px;
  margin: 0 0 4px 0 !important;
  line-height:normal;
}
.project-table .text h2 a {
  color: #000;
  text-decoration: none !important;
}
.project-table .text p {
  margin-bottom: 5px;
  font-size: 11px;
  line-height: normal;
}

footer {
  clear:both;
}

.push {
  display: inline-block;
}