#content {
  /* No sidebar */
  width: 100%;
}
#content a {
  text-decoration: underline;
}
#content .nav a {
  text-decoration: none;
}

.nav-pills .active > a,
.nav-pills .active > a:hover {
  background-color: #3E8F80;
}

img.project-page-image {
  float: right;
}

ul.dropdown-menu {
  min-width: 280px;
}

table.categorylist {
  width: 100%;
}
td.short {
  width: 120px;
  overflow: hidden;
}
td.short a[href=""],
td.short a[href="None"] {
  display: none;
}
td.medium {
  width: 180px;
}



.banner {
	background-image: url(images/banner-bg.png);
	background-repeat: repeat-x;
	background-position: center top;
	margin-top:-18px;
}
.banner .container {
	height:250px;
	padding:145px 0px 10px 0px;
}
.banner .banner-top {
	height:150px;
	color:#EEEEEE;
}
.banner .banner-top h1 {
	color:#FFF;
	font-size:46px;
	font-weight:normal;
	padding-bottom:20px;
}
.banner .banner-top .strapline {
  color: #EEEEEE;
  text-shadow:none;
	font-size:18px;
	line-height:22px;
}
.banner .banner-bottom {
	padding:20px 0px 0px 0px;
}
.banner .banner-bottom .instruction {
	font-size:18px;
	color:#aaacaa;
}

.nav-pills > li > a {
	color:#333333;
}
.nav-pills .active > a,
.nav-pills .active > a:hover {
    background-color: #222222;
}
