{% assign authors = site.categories.blog | map: 'to_liquid' | map: 'username' %}
{% if authors contains user_username %}
{% if user_roles %}
{% assign user_roles = user_roles | push: 'author' %}
{% else %}
{% assign user_roles = 'author' %}
{% endif %}
{% endif %}

{% if (page.categories == 'person') and (user_roles) %}
<h2 id="badges"><i class="icon-trophy"></i> Badges</h2>
{% endif %}

<div class="badges">
  {% for role in user_roles %}
  {% assign badge = site.data.badges | map: role %}
  <a href="/members/badges/#{{ role }}">
    <div class="badgeholder {{ badge | map: 'type' }}" title="{{ badge | map: 'text' }}">
      <div><span class="icon-{{ badge | map: 'icon' }}"></span></div>
      <div>{{ badge | map: 'text' }}</div>
    </div>
  </a>
  {% endfor %}
</div>
