{% assign authors = site.categories.blog | map: 'username' %}
{% if authors contains user_username %}
{% if user_roles %}
{% assign user_roles = user_roles | push: 'author' %}
{% else %}
{% assign user_roles = 'author' %}
{% endif %}
{% endif %}

{% assign project_maintainers = "" | split: "" %}
{% for project in site.categories.projects %}
{% for maintainer in project.maintainers %}
{% assign project_maintainers = project_maintainers | push: maintainer %}
{% endfor %}
{% endfor %}

{% if project_maintainers contains user_username %}
{% if user_roles %}
{% assign user_roles = user_roles | push: 'project-maintainer' %}
{% else %}
{% assign user_roles = 'project-maintainer' %}
{% endif %}
{% endif %}
