      <li>
        <div class="details">
          <div class="meta">
            <span class="date">{{ post.date | date_to_long_string }}</span>
            <span class="author">{{ post.author }}</span> 
          </div>
          <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
        </div>
        {% if post.snapshot %}
          <div class="snapshot">
            <a href="{{ post.url }}"><img src="/img/projects/{{ post.snapshot }}.png"></a>
          </div>
        {% endif %}
        <div class="excerpt">
          {{ post.content | strip_html | truncatewords: 45 }} 
        </div>
        <div class="more">
          <a href="{{ post.url }}" title="read full post">●●●●●</a>
        </div>
      </li>


