---
title: About Open Knowledge Foundation Labs
layout: about
---

<div class="row">
  <div class="span8">
    <h1>What is Labs?</h1>

    <p>
      <img class="minipic" src="/img/chaos.png">
    We're a home for experimental tools and services that enable more people to do useful stuff with data and content. We're interested in technology which helps to make government more accountable, culture more accessible and science more efficient.
    </p>
   
    <p>We are part
    of the <a href="http://okfn.org">Open Knowledge Foundation</a>. We operate as a collaborative community
    and use and produce <a href="http://opendefinition.org/">open data</a> and
    <a href="http://www.gnu.org/philosophy/free-sw.html">free and <a href="http://opensource.org/">open source software</a>.</p>
    

    <div class="row">
      <div class="span8">
        <h1>Who are we?</h1>
        <ul class="persons">
          {% for person in site.categories.about %}
            <li class="person {% cycle 'odd', 'even' %}">
              <img class="photo" src="/img/people/{{ person.handle }}.png">            
              <span class="name">{{ person.title }}</span>
                <span class="job">{{person.job}}</span>
              <div class="excerpt">
                {{ person.content }} 
              </div>
              <ul>
                <li><a href="https://twitter.com/{{ person.twitter }}">
                  <img src="/img/twitter.png"> {{ person.twitter }}</a></li>
                <li><a href="https://github.com/{{ person.github }}">
                  <img src="/img/github.png"> {{ person.github }}</a></li>
                <li><a href="{{ person.blog }}">
                  {{ person.blog }}</a></li>
              </ul>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>

  <div class="span4">
    <h2>Get involved</h2>
    <p>Join our discussion list. Here, we exchange
    datasets and ideas and plan our projects.</p>

    {% include list_signup.html %}
    
    <p>Many of us also hang out on IRC. Check out:</p>
    <ul>
      <li><code>irc.freenode.org: #okfn</code></li>
    </ul>

    <h2>Get hacking</h2>
    <p>All of our code is on GitHub &mdash; check out the <a
      href="/projects">projects list</a> or these organisations:</p>
    
    <ul>
      <li><a href="http://github.com/okfn">okfn</a></li>
      <li><a href="http://github.com/datasets">datasets</a></li>
      <li><a href="http://github.com/openspending">openspending</a></li>
    </ul>
  </div>
</div>

