---
title: About Open Knowledge Labs
layout: about
---

<h1>What is Labs?</h1>

<p>
<span class="minipic-wrapper"><img class="chaos minipic" src="/img/chaos.png"></span>
<p>We're a community of civic hackers, data wranglers and ordinary citizens intrigued and excited by the possibilities of combining technology and information for good &ndash; making government more accountable, culture more accessible and science more efficient.</p>

<p>We focus on making things - whether that’s apps, insights or tools. We have a strong preference for <a href="http://opendefinition.org/">open data</a> and <a href="http://www.gnu.org/philosophy/free-sw.html">free</a> / <a href="http://opensource.org/">open source software</a>.</p>
</p>

<p>
We're part of <a href="http://okfn.org/">Open Knowledge International</a> and operate as a collaborative community which anyone can join. Labs is organized through a public <a href="https://github.com/okfn/okfn.github.com">GitHub repository</a>.</p>

<p>You don't need to be an uber-geek to participate: interest and a willingness to get your hands dirty (digitally) be that with making, testing or helping is all that's needed - though we do allow lurking on the <a href="/contact/">mailing list</a> ;-).
</p>

<h2 id="principles">Principles</h2>
<p>We have some simple community principles that outline how we function and
which act as a guide for community members.</p>

<ul>
  <li><strong>Openness</strong>: <a href="http://opendefinition.org/">open
data, open content</a>, and <a href="http://opensource.org/">open tools</a>. In
Labs we only make open stuff. We also have a strong preference for
<em>using</em> open stuff but we aren't obsessed about this &ndash; if Excel or
Google Docs or [insert tool] is what you use to get the job done that's
ok!</li>
  <li><strong>Positive and welcoming</strong>: We're friendly to newcomers and old hands alike.
Everyone was new once (and sought to reinvent the wheel!). Enthusiasm and
support for others at all levels of skill and experience is important.</li>
  <li><strong>Doing</strong>: we're focused on the concrete not the abstract, making not
theorizing.</li>
  <li><strong>Insights as well as apps</strong>: insights, analysis, and
stories may be just as valuable as the tools and the apps.</li>
  <li><strong>More than code</strong>: designing, testing, documenting, wrangling are
just as valued as coding.</li>
  <li><strong>Informal</strong>: we don't get caught up in formal processes or hierarchies. We
only have process where its essential, or authority where it matters such as
access to limited resources, management of shared infrastructure</li>
</ul>


<h2 id="governance">Governance and Roles</h2>

<p>Whilst anyone can participate in Labs without formally signing up, you can
self-identify as an official <a href="/members/"><strong>"Member"</strong></a>
as a way to show you are part of the community. Anyone may become a member: <a
  href="/members/">just sign-up</a>!</p>

<p>We also have a special category of <strong>"(Official)
  Contributors"</strong> and <strong>"Leads"</strong>. Official Contributors are
members recognized for their contributions in Labs and more widely.
Contributors are entitled to certain privileges, for example in relation to use
of <a href="/about/resources/">resources</a> or in featuring projects on the
site. More detail about contributors can be found below.</p>

<h3 id="leads">Leads</h3>

<p>One or more members may act (on a rotating basis) as "leads", helping to
coordinate and organize Labs activity. They have authority and responsibility
for things like:</p>

<ul>
  <li>labs@ email address</li>
  <li>Requisitioning new resources</li>
  <li>Managing and delegating access to things like twitter, website etc</li>
  <li>Raising and responding to issues from members and the community</li>
</ul>

<p>The current Leads are:</p>
<ul>
  {% for person in site.categories.members %}{% if person.roles contains 'lead' %}
  <li>
    <a href="{{ person.permalink | replace: 'index.html','' }}">
      {{ person.title }}
    </a>
  </li>
  {% endif %}{% endfor %}
</ul>

<h3 id="contributors">Contributors</h3>

<h4>Privileges</h4>

<ul>
  <li>Access to <a href="/about/resources/">Labs' resources</a></li>
  <li>Direct access to the website</li> 
  <li>List and showcase projects in the projects list</li>
  <li>Organize Labs' events</li>
</ul>

<h4>Responsibilities</h4>

<ul>
  <li>Build, run and support (QA, blogging, docs) something (e.g. an app or
  service or viz etc)</li>
  <li>Ongoing participation - Contributors who can no longer actively
  participate become alumni!</li>
</ul>

<h4>Becoming a Contributor</h4>

<p>You become a Contributor through a combination of</p>

<ul>
  <li>Contributing to Labs-associated project for a period of time and/or doing
  good Labs related work (e.g. building a tool or doing an analysis that is
  highly regarded)</li>
  <li>Being recommended by an existing Contributor</li>
</ul>

<p>You can stop being a Contributor by (any of the following)</p>

<ul>
  <li>Just asking!</li>
  <li>Becoming inactive or uncontactable &ndash; inactive means something like
  no commits on relevant repos, no blog posts, no contribution on the mailing
  list over a period of several months</li>
</ul>

If you stop being a Contributor you remain a Member and are designated as a
Contributor alumni.


<h2 id="faqs">FAQs</h2>

<h3>Is there a fee for being a Member or a Contributor?</h3>
<p>Simple answer: no - there's no fee and we do not plan to have
one. It is possible that at some point in the future we may
want to think about this as a way to defray the costs of infrastructure if
these get too large (there would be a full community discussion on the matter
if this ever did come up). However, our hope is that simple donations will
suffice &ndash; and if you are able to donate money or make an in-kind
contribution (e.g. servers) we'd <a href="/contact/">love to hear from
  you</a>.</p>

<h3>How is Labs resourced?</h3>
<p>Labs is community based and run and its activities and management
is done by its members. As such there are no staff
costs. Infrastructure such as hosting and storage are provided and
managed on an ongoing basis by Open Knowledge International with contributions from
the community.</p>

<p>The <a href="http://www.shuttleworthfoundation.org/">Shuttleworth
  Foundation</a> provided financial support to set up Labs and maintain
infrastructure. We gratefully acknowledge this support and would like to say a
huge thank-you to the Shuttleworth Foundation for their support here.</p>

<a href="http://www.shuttleworthfoundation.org/"><img src="http://assets.okfn.org/images/shuttleworth/shuttleworth%20funded-01.png" alt="Shuttleworth Supported" style="width: 200px;" /></a>

