---
layout: blog
title: The Data Wrangling Blog
---

{% include blog_header.html %}

<div class="row">
  <div class="span9">
    {% include blog_posts.html %}
  </div>
  <div class="span3">
    <div class="teaser boxed">
      Fresh (and occasionally contentious) news <!-- and 
      updates --> from the realm of data. 
    </div>
    
    <br>
    <h4>Have your say!</h4>
    <p>Do you have a topic that you'd like to write about?
    We love guest posts, just contact us at: <em>labs (at)
      okfn.org</em>.</p>
    
    <br>
    <h4>Blogroll</h4>
    <p>Some places we find inspiration (where we steal ideas):</p>

    <ul>
      <li><a href="http://codeforamerica.org/labs/">Code for America
        Labs</a></li>
      <li><a href="http://worldbank.tumblr.com/">World Bank
        Dataviz</a> and <a
        href="http://maps.worldbank.org/content/article">Mapping for
        Results</a></li>
      <li><a href="http://www.propublica.org/nerds">ProPublica Nerd
        Blog</a></li>
      <li><a href="http://digital.cabinetoffice.gov.uk/">Government
        Digital Service</a></li>
      <li><a href="http://tacticaltech.org/reveal/news">Tactical
        Technology: Reveal</a></li>
      <li><a
        href="http://developmentseed.org/blog/">DevelopmentSeed</a></li>
      <li><a href="http://vis4.net/blog/">vis4.net</a></li>
      <li><a
        href="http://datadrivenjournalism.net/news_and_analysis">DataDrivenJournalism.net</a></li>
      <li><a
        href="http://openinstitute.com/category/open-governance/">Open
        Institute - Kenya</a></li>
      <li><a href="http://ire.org/tag/behind-the-story/">IRE: Behind the
        Story</a></li>
      <li><a href="http://sunlightlabs.com/blog/">Sunlight Labs
        Blog</a> and <a
        href="http://reporting.sunlightfoundation.com/">Sunlight
        Reporting</a></li>
      <li><a
        href="https://reportingproject.net/occrp/index.php/en/cc-blog">Organized
        Crime and Corruption Reporting Project</a></li>
      <li><a href="http://blog.scraperwiki.com/">ScraperWiki Data
        Blog</a></li>
    </ul>
  </div>
</div>
