---
layout: blog
title: The Data Wrangling Blog
---

{% include blog_header.html %}

<div class="row">
  <div class="span9">
    <ul class="blog posts">
      {% for post in site.categories.blog %}
        {% include blog_posts.html %}
      {% endfor %}
    </ul>
  </div>
  <div class="span3">
    <h3>Have your say!</h3>
    <p>Do you have a topic that you'd like to write about? We love guest posts.
    Here's <a href="add/">how to submit one &raquo;</a></p>

    <br />
    <h3>Blogroll</h3>
    <p>Some places we find inspiration:</p>

    <ul>
      <li><a href="http://www.codeforamerica.org/blog/">Code for America</a></li>
      <li><a href="http://worldbank.tumblr.com/">World Bank
        Dataviz</a> and <a href="http://maps.worldbank.org/">Maps</a></li>
      <li><a href="http://www.propublica.org/nerds">ProPublica Nerd
        Blog</a></li>
      <li><a href="https://gds.blog.gov.uk/">UK Government Digital Service</a></li>
      <li><a href="https://tacticaltech.org/in-the-loop">Tactical
        Technology: In the Loop</a></li>
      <li><a
        href="http://developmentseed.org/blog/">DevelopmentSeed</a></li>
      <li><a href="http://vis4.net/blog/">vis4.net</a></li>
      <li><a
        href="http://datadrivenjournalism.net/news_and_analysis">DataDrivenJournalism.net</a></li>
      <li><a
        href="http://openinstitute.com/category/open-governance/">Open
        Institute - Kenya</a></li>
      <li><a href="http://ire.org/tag/behind-the-story/">IRE: Behind the
        Story</a></li>
      <li><a href="http://sunlightfoundation.com/blog/">Sunlight Foundation
        Blog</a></li>
      <li><a
        href="https://occrp.org/occrp/en/blog">Organized
        Crime and Corruption Reporting Project</a></li>
      <li><a href="https://blog.scraperwiki.com/blog/">ScraperWiki Blog</a></li>
    </ul>
  </div>
</div>
