---
title: Badges
layout: two-column
bodyclass: badges
---

<h2 id="get-recognized">Get Recognized</h2>
<p>
  As a member, your contributions will, in part, be recognized via a
  badge displayed next your username.  Badges which are issued for
  ongoing roles are orange, while those issued for one-off
  contributions are green.  Currently, we are issuing the following
  badges:
</p>

{% include badges_load_dynamic.html %}
{% for badge in site.data.badges %}
<div class="row badgeset">
  <div class="span4">
    <div class="badgeholder {{ badge.type }}">
      <div id="{{ badge.id }}"><span class="icon-{{ badge.icon }}"></span></div>
      <div>{{ badge.text }}</div>
    </div>
    <p>{{ badge.description }}</p>
  </div>

  <div class="span4">
    {% for person in site.categories.members %}
    {% assign user_roles = person.roles %}
    {% assign user_username = person.username %}
    {% include badges_push_dynamic.html %}
    {% if user_roles contains badge.id %}

    {% assign evidence = "" | split: "" %}
    {% for project in site.data.projects %}
    {% if project.contributors contains person.username %}
    {% assign evidence = evidence | push: project.title %}
    {% endif %}
    {% endfor %}

    <a title="{% if evidence.size > 0 %}Project{% if evidence.size > 1 %}s{% endif %}: {{ evidence | join: ', '}}{% endif %}" href="{{ person.permalink | replace:'index.html',''}}">
      {% if person.img %}
      <img class="photo" src="{{ person.img }}">
      {% else %}
      <img class="photo" src="/images/robot.png">
      {% endif %}
    </a>

    {% endif %}
  {% endfor %}
  </div>
</div>
{% endfor %}
