---
title: Badges
layout: two-column
bodyclass: badges
---

<h2 id="get-recognized">Get Recognized</h2>
<p>
  As a member, your contributions will, in part, be recognized via a
  badge displayed next your username.  Badges which are issued for
  ongoing roles are orange, while those issued for one-off
  contributions are green.  Currently, we are issuing the following
  badges:
</p>

{% assign authors = site.categories.blog | map: 'to_liquid' | map: 'username' %}
{% for badge in site.data.badges %}
<div class="row">
  <div class="span4">
    <div class="badgeholder {{ badge.first | map: 'type' }}">
      <div id="{{ badge.first.first }}"><span class="icon-{{ badge.first | map: 'icon' }}"></span></div>
      <div>{{ badge.first | map: 'text' }}</div>
    </div>
    <p>{{ badge.first | map: 'description' }}</p>
  </div>

  <div class="span4">
    {% for person in site.categories.members %}
    {% assign user_roles = person.roles %}
    {% assign user_username = person.username %}

    {% if authors contains user_username %}
    {% if user_roles %}
    {% assign user_roles = user_roles | push: 'author' %}
    {% else %}
    {% assign user_roles = 'author' %}
    {% endif %}
    {% endif %}

    {% if user_roles contains badge.first.first %}
    {% if person.img %}
    <a href="{{person.permalink}}">
      <img class="photo" src="{{person.img}}">
    </a>
    {% else %}
    <a href="{{person.permalink}}">
      <img class="photo" src="/images/robot.png">
    </a>
    {% endif %}
    {% endif %}
  {% endfor %}
  </div>
</div>
{% endfor %}
