<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{page.title}}</title>

  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- styles -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="http://assets.openspending.org/branding/fonts/opensans/stylesheet.css" />
  <link href='http://fonts.googleapis.com/css?family=Antic+Slab' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/bootstrap-responsive.css">
  <link rel="stylesheet" href="/css/labs.css">
  {{ if page.lightbox }}
  <link rel="stylesheet" href="/css/slimbox2.css" type="text/css" media="screen" />
  {{ endif }}

  <link rel="alternate" type="application/atom+xml" title="OKFN Labs Feed" href="http://okfnlabs.org/blog/feed.xml" />
  <link rel="shortcut icon" href="http://assets.okfn.org/p/okfn/img/favicon.ico">
</head>

<body class="body-{{page.bodyclass}}">
	<header>
    <div class="container">
      <div class="logo">
        <div class="logobox">
          <a href="/"><img src="/img/header.png"></a>
        </div>
      </div>
      <div class="row">
        <div class="span12">
          <ul class="mainnav">
            <li><a class="nav-blog" href="/blog">Blog</a></li>
            <li><a class="nav-code" href="/projects">Projects</a></li>
            <li><a class="nav-data" href="/data">Data</a></li>
            <li><a class="nav-events" href="/events">Events</a></li>
            <li><a class="nav-about" href="/about">About</a></li>
          </ul>
        </div>
      </div>
    </div>
  </header>

  <div id="airlock" class="container">
    {{ content }}
  </div>

  <footer>
    <div class="container">
      <!--div class="row">
        <div class="span12">
          <ul class="flatmenu">
            <li><strong>Open Government</strong></li>
            <li><a href="http://datahub.io">DataHub</a></li>
            <li><a href="http://openspending.org">OpenSpending</a></li>
            <li><a href="http://opengovernmentdata.org/">Open
              Government Data WG</a></li>
            <li><a href="http://datacatalogs.org/">DataCatalogs</a></li>
            <li><a href="http://energy.publicdata.eu/ee/">Europe's Energy</a></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="span12">
          <ul class="flatmenu">
            <li><strong>Open Research and Education</strong></li>
            <li><a href="http://schoolofdata.org">School of Data</a></li>
            <li><a href="http://access.okfn.org/">@ccess</a></li>
            <li><a href="http://science.okfn.org">Science</a></li>
            <li><a href="http://openeconomics.net/">Economics</a></li>
            <li><a href="http://openbiblio.net/">Bibliography</a></li>
            <li><a href="http://linguistics.okfn.org/">Linguistics</a></li>
            
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="span12">
          <ul class="flatmenu">
            <li><strong>Open Culture</strong></li>
            <li><a href="http://humanities.okfn.org/">Humanities</a></li>
            <li><a href="http://design.okfn.org/">Design</a></li>
            <li><a href="http://openglam.org/">GLAM</a></li>
            <li><a href="http://textusproject.org/">Textus</a></li>
          </ul>
        </div>
      </div-->
      <div class="row logorow">
        <div class="span6">
          <a href="http://www.shuttleworthfoundation.org/"><img src="/img/shuttleworth_small.png" alt="Funded by the Shuttleworth Foundation"></a>
        </div>
        <div class="span6 text-right">
          <a href="http://okfn.org"><img src="/img/okfn.png" alt="Open
            Knowledge Foundation"></a> 
        </div>
      </div>
      <div class="row">
        <div class="span12 text-right">
          <ul class="flatmenu">
            <li><a href="http://okfn.org/about/">About OKFN</a></li>
            <li><a href="http://okfn.org/opendata/">Open Data</a></li>
            <li><a href="http://okfn.org/terms-of-use/">Terms of Use</a></li>
            <li><a href="http://okfn.org/privacy-policy/">Privacy Policy</a></li>
            <li><a href="http://okfn.org/ip-policy/">IP Policy</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
  {{ if page.lightbox }}
  <script src="/js/slimbox2.js"></script>
  {{ endif }}
  {{ if page.highlight }}
  <script src="/js/highlight.pack.js"></script>
  <script type="text/javascript">
  $(function() {
    $('pre code').each(function(i, el) {
      hljs.highlightBlock(el);
    });
  });
  </script>
  {{ endif }}
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-33874954-3']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</body>
</html>


