<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{page.title}}</title>

  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- styles -->
  <link rel="stylesheet" href="/theme-okfn/fonts/fonts.min.css">
  <link rel="stylesheet" href="/theme-okfn/css/bootstrap.min.css">
  <link rel="stylesheet" href="/theme-okfn/css/okfn-common.css">
  <link rel="stylesheet" href="/lib/labs.css">
  <link rel="shortcut icon" href="http://assets.okfn.org/p/okfn/img/favicon.ico">

  {% for item in page.extra.css %}
  <link rel="stylesheet" href="{{ item }}">
  {% endfor %}
</head>

<body class="{{page.bodyclass}}">
	<header>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a title="Home" class="brand" href="http://okfnlabs.org">
            <img alt="logo" src="http://assets.okfn.org/web/images/header-logo.png">
            Open Knowledge Foundation Labs
          </a>
          <a href="https://twitter.com/OKFNLabs" class="twitter">Twitter</a>
          <ul class="nav pull-right">
            <li class="dropdown" data-dropdown="dropdown">
              <a href="/" class="dropdown-toggle">Projects</a>
              <ul class="dropdown-menu">
                  <li><a href="http://annotateit.org">AnnotateIt</a></li>
                  <li><a href="http://bibserver.org">BibServer</a></li>
                  <li><a href="http://okfnlabs.org/bubbletree">BubbleTree</a></li>
                  <li><a href="http://okfnlabs.org/dashboard">Dashboard</a></li>
                  <li><a href="http://okfn.org/projects/datapkg/">DPM</a></li>
                  <li><a href="http://energy.publicdata.eu/ee/">Europe’s Energy</a></li>
                  <li><a href="http://github.com/pudo/grano">Grano</a></li>
                  <li><a href="http://pybossa.com">PyBossa</a></li>
                  <li><a href="http://reclinejs.com">Recline</a></li>
                  <li><a href="http://textusproject.org/">TEXTUS</a></li>
                  <li><a href="http://www.weavinghistory.org/">Weaving History</a></li>
                  <li><a href="http://okfn.org/projects/vdm/">Versioned Domain Model</a></li>
                  <li><a href="http://yourtopia.net/">Yourtopia</a></li>
                  <li><a href="http://italia.yourtopia.net/">Yourtopia: Italia</a></li>
              </ul>
            </li>
            <li><a href="http://lists.okfn.org/mailman/listinfo/okfn-labs">Mailing List</a></li>
            <li><a href="/blog/">Blog</a></li>
          </ul><!-- #nav -->
        </div>
      </div>
    </div> 

    <div class="container">
      <div class="row">
      {{ page.header }}
      </div>
    </div>
  </header>

  <div id="airlock" class="container">
    {{ content }}
  </div>

  <footer>
    <div class="inner">
      <div class="container">
        <div class="row">
          <div id="footer-widget-area">
            <div id="first" class="widget-area">
              <ul class="xoxo">
                <li id="nav_menu-3" class="widget widget_nav_menu">
                  <h3 class="widgettitle">About</h3>
                  <div class="menu-footer-imprint-container">
                    <ul id="menu-footer-imprint" class="menu">
                      <li><a href="http://okfn.org/about/">About Us</a></li>
                      <li><a href="http://okfn.org/media/">Media</a></li>
                      <li><a href="http://okfn.org/contact/">Contact Our Team</a></li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div><!-- #first .widget-area -->
            
            <div id="second" class="widget-area">&nbsp; </div>
            
            <div id="third" class="widget-area">
              <ul class="xoxo">
                <li id="text-3" class="widget widget_text">
                  <h3 class="widgettitle">Terms and Conditions</h3>
                  <ul>
                    <li><a href="http://okfn.org/terms-of-use/">Terms of Use</a></li>
                    <li><a href="http://okfn.org/privacy-policy/">Privacy Policy</a></li>
                    <li><a href="http://okfn.org/ip-policy/">IP Policy</a></li>
                  </ul>
                </li>
              </ul>
            </div><!-- #third .widget-area -->
            
          </div>
        </div><!-- /row -->
      </div><!-- /container -->
    </div><!-- /inner -->
  </footer>

  <a href="http://www.shuttleworthfoundation.org/" class="corner ribbon">
    <img src="http://assets.okfn.org/images/shuttleworth/shuttleworth%20funded-01.png" alt="Shuttleworth">
  </a>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
  
  {% for item in page.extra.js %}
  <script src="{{ item }}"></script>
  {% endfor %}
  
  <script>
  {{ page.extra.raw_js }}
  </script>

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-33874954-3']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</body>
</html>
