<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Open Knowledge Foundation Labs</title>
<meta name="description" content="">
<meta name="author" content="">

<!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

<!-- styles -->
<link href="/theme-okfn/fonts/fonts.min.css" rel="stylesheet">
<link href="/theme-okfn/css/bootstrap.min.css" rel="stylesheet">
<link href="/theme-okfn/css/okfn-common.css" rel="stylesheet">
<link href="/labs.css" rel="stylesheet">
<link rel="shortcut icon" href="http://assets.okfn.org/p/okfn/img/favicon.ico">
</head>

<body>
	<header>
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <a title="Home" class="brand" href="http://okfnlabs.org">
            <img alt="logo" src="http://assets.okfn.org/web/images/header-logo.png"/>Open Knowledge Foundation Labs
          </a>
          <ul id="nav" class="nav">
            <li class=""><a href="/" title="Home">Home</a></li>
            <li class="dropdown" data-dropdown="dropdown" >
              <a href="/tools-and-infrastructure.html" class="dropdown-toggle">Tools</a>
              <ul class="dropdown-menu categorylist categorylist-tools-and-infrastructure">
                {% for post in site.posts %}<li class="category-{{post.category}}"><a href="{{post.url}}">{{post.name}}</a></li>{% endfor %}
              </ul>
            </li>
            <li class="dropdown" data-dropdown="dropdown" >
              <a href="/open-knowledge-production.html" class="dropdown-toggle">Knowledge Production</a>
              <ul class="dropdown-menu categorylist categorylist-open-knowledge-production">
                {% for post in site.posts %}<li class="category-{{post.category}}"><a href="{{post.url}}">{{post.name}}</a></li>{% endfor %}
              </ul>
            </li>
            <li class="dropdown" data-dropdown="dropdown" >
              <a href="/partnered.html" class="dropdown-toggle">Partnered</a>
              <ul class="dropdown-menu categorylist categorylist-partnered">
                {% for post in site.posts %}<li class="category-{{post.category}}"><a href="{{post.url}}">{{post.name}}</a></li>{% endfor %}
              </ul>
            </li>
            <li class=""><a href="/spreadsheet.html" title="Register a Project">Register a Project</a></li>
          </ul><!-- #nav -->
        </div>
      </div>
    </div>
  </header>
  <!--div class="container">
    <div class="strapline">
      <div class="inner"> The home of innovation </div>
    </div>
  </div--><!-- /container -->
  
  <div class="container">
    <div id="content">
      {{ content }}
    </div>
    <!-- #content -->
    
    <!--div id="sidebar" role="complementary">
      <div class="widget">
        <h3 class="widgettitle">Widget Title</h3>
        <div>Widget content goes here. Lorem ipsum...</div>
      </div>
      <div class="widget">
        <h3 class="widgettitle">Widget Title</h3>
        <div>Widget content goes here. Lorem ipsum...</div>
      </div>
    </div--> <!-- #sidebar --> 
    
  </div>
  <!-- /container -->
  
  <footer>
    <div class="inner">
      <div class="container">
        <style type="text/css">
            </style>
        <div class="row">
          <div id="footer-widget-area">
            <div id="first" class="widget-area">
              <ul class="xoxo">
                <li id="nav_menu-3" class="widget widget_nav_menu">
                  <h3 class="widgettitle">About</h3>
                  <div class="menu-footer-imprint-container">
                    <ul id="menu-footer-imprint" class="menu">
                      <li><a href="http://okfn.org/about/">About Us</a></li>
                      <li><a href="http://okfn.org/media/">Media</a></li>
                      <li><a href="http://okfn.org/contact/">Contact Our Team</a></li>
                      <li><a href="http://okfn.org/privacy-policy/">Privacy policy</a></li>
                      <li><a href="http://okfn.org/ip-policy/">IP Policy</a></li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
            <!-- #first .widget-area -->
            
            <div id="second" class="widget-area">&nbsp; </div>
            <!-- #second .widget-area -->
            
            <div id="third" class="widget-area">
              <ul class="xoxo">
                <li id="text-3" class="widget widget_text">
                  <h3 class="widgettitle">IP Policy</h3>
                  <div class="textwidget"> The content of this site is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 License</a> (all jurisdictions). <br/>
                    <br/>
                    <a rel="license" href="http://creativecommons.org/licenses/by/3.0/"> <img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by/3.0/88x31.png" /> </a> </div>
                </li>
              </ul>
            </div>
            <!-- #third .widget-area --> 
            
          </div>
        </div>
        <!-- /row --> 
      </div>
      <!-- /container --> 
    </div>
    <!-- /inner --> 
  </footer>
</body>
</html>
