---
layout: two-column
categories: person
bodyclass: members
---

<h1>{{page.title}} <small>[{{page.username}}]</small></h1>

<div class="info">
  {% if page.img %}
  <img class="photo" src="{{page.img}}" style="float: right;">
  {% endif %}

  <p class="joined"><i class="icon-time"></i> Member since <span class="date">{{ page.date | date_to_long_string }}</span></p>

  <ul class="links">
    {% if page.twitter %}
    <li><a href="https://twitter.com/{{ page.twitter }}">
        <i class="icon-twitter"></i> {{ page.twitter }}</a></li>
    {% endif %}
    {% if page.github %}
    <li><a href="https://github.com/{{ page.github }}">
        <i class="icon-github"></i> {{ page.github }}</a></li>
    {% endif %}
    {% if page.web %}
    <li><a href="{{ page.web }}">
        <i class="icon-globe"></i> {{ page.web }}</a></li>
    {% endif %}
  </ul>

  {{content}}

  {% include badges_load_dynamic.html %}
  {% assign user_roles = page.roles %}
  {% assign user_username = page.username %}
  {% include badges_push_dynamic.html %}
  {% include badges_display.html %}

  <ul class="links" style="margin-top: 10px;">
    <li><i class="icon-folder-close"></i> <a href="#projects">Projects</a></li>
    <li><i class="icon-rss-sign"></i> <a href="#posts">Posts</a></li>
  </ul>

</div>

<div style="clear: both"></div>

{% for csv_project in site.data.projects %}
{% if csv_project.contributors contains page.username %}
<h2 id="projects"><i class="icon-folder-close"></i> Projects</h2>
<p>{{page.title}} is a contributor to the following projects.</p>
{% break %}
{% endif %}
{% endfor %}

<div class="project-list">
{% for csv_project in site.data.projects %}
{% if csv_project.contributors contains page.username %}
  <div>
    <h3><a href="{{csv_project.projecturl | replace:'index.html',''}}">{{csv_project.title}}</a></h3>

    {% for page_project in site.projects %}
      {% if page_project.title == csv_project.title %}
        {% assign page_project_metadata = page_project %}
      {% endif %}
    {% endfor %}

    <em>{{ page_project_metadata.content | markdownify | strip_html | truncatewords: 45 }} </em>

  </div>
{% endif %}
{% endfor %}
</div>

<hr />

<h2 id="posts"><i class="icon-rss-sign"></i> Posts</h2>
<div class="posts">
{% for post in site.categories.blog %}
{% if post.username == page.username %}
  <div class="details">
    <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
    <div class="meta">
      <span class="date">{{ post.date | date_to_long_string }}</span>
    </div>
  </div>
{% endif %}
{% endfor %}
</div>
