---
layout: two-column
categories: person
bodyclass: members
---

<h1>{{page.title}} <small>[{{page.username}}]</small></h1>

<div class="info">
  {% if page.img %}
  <img class="photo" src="{{page.img}}" style="float: right;">
  {% endif %}

  <p class="joined"><i class="icon-time"></i> Member since <span class="date">{{ page.date | date_to_long_string }}</span></p>

  <ul class="links">
    <li><a href="https://twitter.com/{{ page.twitter }}">
      <i class="icon-twitter"></i> {{ page.twitter }}</a></li>
    <li><a href="https://github.com/{{ page.github }}">
      <i class="icon-github"></i> {{ page.github }}</a></li>
    <li><a href="{{ page.web }}">
      <i class="icon-globe"></i> {{ page.web }}</a></li>
  </ul>

  {{content}}

  {% assign authors = (site.categories.blog | map: "to_liquid" | map: "username") %}
  {% assign is_author = authors contains page.username %}
  {% if is_author or if page.roles %}
  <h2 id="badges"><i class="icon-trophy"></i> Badges</h2>
  <div class="badges">
    {% for role in page.roles %}
    <a href="/join/#{{ role }}">
      <div class="badgeholder" title="{{ site.data.badges | map: role | map: 'text' }}">
	<div><span class="icon-{{ site.data.badges | map: role | map: 'icon' }}"></span></div>
	<div>{{ site.data.badges | map: role | map: 'text' }}</div>
      </div>
    </a>
    {% endfor %}

    {% if authors contains page.username %}
    <div class="badgeholder" title="Author">
      <div><span class="icon-file-alt"></span></div>
      <div>Author</div>
    </div>
    {% endif %}
    </div>
  {% endif %}

  <ul class="links" style="margin-top: 10px;">
    <li><i class="icon-folder-close"></i> <a href="#projects">Projects</a></li>
    <li><i class="icon-rss-sign"></i> <a href="#posts">Posts</a></li>
  </ul>

</div>

<div style="clear: both"></div>

<h2 id="projects"><i class="icon-folder-close"></i> Projects</h2>
<p>{{page.title}} is a maintainer or contributor to the following projects.</p>

<div class="project-list">
{% for project in site.categories.projects %}
{% if (project.maintainers contains page.username) or (project.contributors contains page.username) %}
  <div>
    <h3><a href="{{project.url | replace:'index.html',''}}">{{project.title}}</a></h3>
    <em>{{ project.content | markdownify | strip_html | truncatewords: 45 }} </em>
  </div>
{% endif %}
{% endfor %}
</div>

<hr />

<h2 id="posts"><i class="icon-rss-sign"></i> Posts</h2>
<div class="posts">
{% for post in site.categories.blog %}
{% if post.username == page.username %}
  <div class="details">
    <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
    <div class="meta">
      <span class="date">{{ post.date | date_to_long_string }}</span>
    </div>
  </div>
{% endif %}
{% endfor %}
</div>
