---
layout: blog
categories: post
---

<div class="post">
<div class="row">
  <div class="span8">
    <h1>{{ page.title }}</h1>
    <div class="post-meta">
      Posted on <span class="post-date">{{ page.date | date_to_long_string }}</span>
      by
      <span class="post-author"><a href="/members/{{page.username}}">{{ page.author }}</a></span>
    </div>

    {% if page.snapshot %}
      <div class="snapshot">
        <img src="/img/projects/{{ page.snapshot }}.png">
      </div>
    {% endif %}

    {{content}}

    <div class="blog-comments">
      <h2 id="comments">Comments</h2>
      <div id="disqus_thread"></div>
    </div>

    <script type="text/javascript">
        var disqus_shortname = 'okfnlabs';

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </div>
  <div class="span4 sidebar">
    <div class="about">
      <img src="/images/robot.png" alt="" />
      We make <strong>tools, apps</strong> and <strong>insights</strong> using
      <strong>open stuff</strong>
      <a href="/join/">Join in &raquo;</a>
    </div>
    <hr />
    <p>
      <a href="https://twitter.com/okfnlabs"><img
        src="/img/blog_twitter.png"></a> &nbsp; Follow <a
        href="https://twitter.com/okfnlabs">@okfnlabs</a>
    </p>
    <p>
      <a href="/blog/feed.xml"><img src="/img/blog_feed.png"></a>
      &nbsp; <a href="/blog/feed.xml">Subscribe to RSS</a>
    </p>
    
    <hr>

    <h3>Recent Posts</h3>
    <ul class="related">
      {% for post in site.related_posts %}
        {% if post.categories contains 'blog' %}
          <li>
          <h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
          <div class="post-meta">
          <span class="post-date">{{ post.date | date_to_string }}</span>
          </div>
          <p>{{ post.content | strip_html | truncatewords: 20 }}</p>
          </li>
        {% endif %}
      {% endfor %}
    </ul>

  </div>
</div>
</div>

