---
layout: blog
categories: post
---

<h1>{{ page.title }}</h1>

<div class="row">
  <div class="span8">
    {% if page.snapshot %}
      <div class="snapshot">
        <img src="/img/projects/{{ page.snapshot }}.png">
      </div>
    {% endif %}
    {{content}}
  </div>
  <div class="span4">
    {{ page.author }}
      <span class="post-date">({{ page.date | date_to_long_string }})</span>
    <hr>
    <p>
      <a href="https://twitter.com/okfnlabs"><img
        src="/img/blog_twitter.png"></a> &nbsp; Follow <a
        href="https://twitter.com/okfnlabs">@okfnlabs</a>
    </p>
    <p>
      <a href="/blog/feed.xml"><img src="/img/blog_feed.png"></a>
      &nbsp; <a href="/blog/feed.xml">Subscribe to RSS</a>
    </p>
    
    <hr>

    <ul>
      {% for post in site.related_posts %}
        {% if post.categories contains 'blog' %}
          <li>
          <span class="post-date">{{ post.date | date_to_string }}:</span>
          <a href="{{ post.url }}">{{ post.title }}</a>
          <p>{{ post.content | strip_html | truncatewords: 20 }}</p>
          </li>
        {% endif %}
      {% endfor %}
    </ul>

  </div>
</div>

