---
layout: default
---

<style type="text/css">
  .record {
    padding-top: 25px;
    margin-top: 25px;
  }

  .record h2 {
    margin-top: 0;
    line-height: 25px;
  }

  .record .image {
    margin-left: 30px;
    float: right;
    width: 450px;
    min-height: 300px;
  }

  .record .image img {
    max-width: 100%;
    max-height: 450px;
    vertical-align: center;
    text-align: center;
    margin: auto;
    box-shadow: 0 0 20px rgba(0,0,0,.2);
    border-radius: 5px;
  }
</style>

{{content}}
