---
layout: default
categories: project
bodyclass: project
---

<div class="record">
  <div class="row">
    <div class="span6">
      <h2>
	<a href="{{page.projecturl}}" target="_blank">{{page.title}}</a>
	{% if page.tagline %}
	<br />
	<small><em>{{page.tagline}}</em></small>
	{% endif %}

	<br />
	{% if page.author %}
	<small>by {{page.author}}</small>
	{% endif %}
      </h2>
      <ul class="meta">
	{% if page.maintainers %}
	<li>
	  <i class="icon-user" title="Maintainer"></i> Maintainer{% if page.maintainers.size > 1 %}s{% endif %} &ndash;
	  {% for maintainer in page.maintainers %}
          <a href="/members/{{maintainer}}/" target="_blank">{{maintainer}}</a>{% if forloop.last != true %}, {% endif %}
	  {% endfor %}
	</li>
	{% endif %}
	{% if page.contributors %}
	<li>
	  <i class="icon-user" title="Contributors"></i> Contributor{% if page.contributors.size > 1 %}s{% endif %} &ndash;
	  {% for contributor in page.contributors %}
          <a href="/members/{{contributor}}/" target="_blank">{{contributor}}</a>{% if forloop.last != true %}, {% endif %}
	  {% endfor %}
	</li>
	{% endif %}
	{% if page.projecturl %}
	<li>
	  <i class="icon-link" title="Project HomePage"></i> <a href="{{page.projecturl}}" target="_blank">{{page.projecturl}}</a>
	</li>
	{% endif %}
	{% if page.github_repo %}
	<li>
	  <i class="icon-github"></i> <a href="https://github.com/{{page.github_user}}/{{page.github_repo}}">https://github.com/{{page.github_user}}/{{page.github_repo}}</a>
	</li>
	{% endif %}
      </ul>
      <p class="description">
	{{content}}
      </p>
    </div>
    <div class="span6">
      <div class="image">
	{% if page.imageurl %}
	<img src="{{page.imageurl}}" alt="{{page.title}}" />
	{% endif %}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span6">
      {% for post in site.categories.blog %}
      {% for project in post.projects %}
      {% if page.slug == project %}
      {% assign related_posts_exist = true %}
      {% break %}
      {% endif %}
      {% endfor %}
      {% endfor %}

      {% if related_posts_exist %}
      <h3>Related Posts:</h3>
      <ul>
	{% for post in site.categories.blog %}
	{% for project in post.projects %}
	{% if page.slug == project %}
	<li><a href="{{ post.url }}">{{ post.title }}</a></li>
	{% endif %}
	{% endfor %}
	{% endfor %}
      </ul>
      {% endif %}
    </div>
    <div class="span6">
      {% if page.github_repo %}
      <h3>Recent Project Activity:</h3>
      <div class="rhs">
	<iframe src="http://ghbtns.com/github-btn.html?user={{page.github_user}}&repo={{page.github_repo}}&type=watch&count=true"
		allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>
	<iframe src="http://ghbtns.com/github-btn.html?user={{page.github_user}}&repo={{page.github_repo}}&type=fork&count=true"
		allowtransparency="true" frameborder="0" scrolling="0" width="95" height="20"></iframe>
      </div>
      <div id="github-activity" style="width: 100%"></div>
      <script>
	$('#github-activity').githubActivity({
	events: 5,
	repos: ["{{page.github_user}}/{{page.github_repo}}"]
	});
      </script>
      {% endif %}
    </div>
  </div>
</div>
