---
layout: default
categories: project
bodyclass: code
---

<div class="record">
  <div class="image">
    {% if page.imageurl %}
      <img src="{{page.imageurl}}" alt="{{page.title}}" />
    {% endif %}
  </div>
  <h2>
    <a href="{{page.projecturl}}" target="_blank">{{page.title}}</a>
  </h2>
  {% if page.author %}
    <h2>
      <small>by <a href="{{page.authorurl}}" target="_blank">{{page.author}}</a></small>
    </h2>
  {% endif %}
  <div class="rhs">
    <p class="description">{{page.content}}</p>
    {% if page.github_repo %}
      <p><img src="/img/github.png" /> <a href="https://github.com/{{page.github_user}}/{{page.github_repo}}">Github</a></p>
      <iframe src="http://ghbtns.com/github-btn.html?user={{page.github_user}}&repo={{page.github_repo}}&type=watch&count=true"
          allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>
      <iframe src="http://ghbtns.com/github-btn.html?user={{page.github_user}}&repo={{page.github_repo}}&type=fork&count=true"
          allowtransparency="true" frameborder="0" scrolling="0" width="95" height="20"></iframe>
    {% endif %}
  </div>
</div>
