---
layout: default
---

<div class="row">
  <div class="span8">
    {{content}}
  </div>
  <div class="span4">
    <h2>Get involved</h2>
    <p>Join our discussion list. Here, we exchange
    datasets and ideas and plan our projects.</p>

    {% include list_signup.html %}
    
    <p>Many of us also hang out on IRC. Check out:</p>
    <ul>
      <li><code>irc.freenode.org: #okfn</code></li>
    </ul>

    <h2>Get hacking</h2>
    <p>All of our code is on GitHub &mdash; check out the <a
      href="/projects">projects list</a> or these organisations:</p>
    
    <ul>
      <li><a href="http://github.com/okfn">okfn</a></li>
      <li><a href="http://github.com/datasets">datasets</a></li>
      <li><a href="http://github.com/openspending">openspending</a></li>
    </ul>
  </div>
</div>

