---
layout: default
---

<div class="row">
  <div class="span8">
    {{content}}
  </div>
  <div class="span4">
    <h3>Get involved</h3>
    <p>Join our discussion list. Here, we exchange
    datasets and ideas and plan our projects.</p>

    {% include list_signup.html %}
    
    <p>Many of us also hang out on IRC. Check out:</p>
    <code>irc.freenode.org: #okfn</code>

    <h3>Get Hacking</h3>
    <p>Check out the <a
      href="/projects">projects list</a> or the <a href="/ideas">ideas page</a>.</p>
  </div>
</div>

